{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/plan_meal.css' %}">

{% endblock css %}
    

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'calendar' %}?day={{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'calendar' %}?day={{ next_month }}"> Next Month </a>
</div>

<div>
    <a class="btn btn-info left" href="{% url 'stats' %}">Stats</a>

</div>


{{ calendar }}
  <!-- MealModal -->
<div class="modal fade" id="mealModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="add-meal-form" method="POST"  >
            {% csrf_token %}
            <div  id="meal" class="form-group " {% if field.errors %} errors {% endif %} >
                <label > {{ meal_core_form.meal.label_tag }}</label>
                {{ meal_core_form.meal.errors }}
                {% render_field meal_core_form.meal class="form-control border-primary"  name="meal" id="id_meal"%}
            </div>
            <div  id="date" class="form-group " {% if field.errors %} errors {% endif %} >
                <label > {{ meal_core_form.date.label_tag }}</label>
                {{ meal_core_form.date.errors }}
                {% render_field meal_core_form.date class="form-control border-primary"  name="date" id="id_date"%}
            </div>
            <div  id="portions" class="form-group " {% if field.errors %} errors {% endif %} >
                <label > {{ meal_core_form.portions.label_tag }}</label>
                {{ meal_core_form.portions.errors }}
                {% render_field meal_core_form.portions class="form-control border-primary"  name="portions" id="id_portions"%}
            </div>
            <button type="submit">Save Meal</button>
          </form>
        </div>
       
      </div>
    </div>
  </div>

<script src="{% static 'js/calendar.js' %}"></script>
{% endblock content%}

