
    <h3>Products</h3>
    <ul id="product_list">
        
        {% if products %}
            {% for product in products  %}
            <li>
                <a style="text-decoration: none; color:black" href="{% url 'product_detail' product.id %}" product-name="{{product.name}}">{{product.name}} - {{product.kcal}} kcal/100g</a>
            </li>
            {% endfor %}
        {% else %}
            <p>Nie ma jeszcze żadnych produktów </p>
        {% endif %}
            
        
            

    </ul>