{% extends '_base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/add_recipe.css' %}">
{% endblock css %}
    
   

{% block content %}

    <div class="container">
        <!-- Lista produktów -->
        <div class="product-list">
            <button type="button" id="modal-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                <i class="fa-solid fa-plus"></i> Create new product
            </button>
            {% include 'core/partials/product_list.html' %}
        </div>

        <!-- Formularz -->
        <div class="form-container">
            
            <h3>Create Recipe</h3> 
            
            <form method="post" id="recipe-form" >
                {% csrf_token %}
                <div id="name"  class="form-group " {% if field.errors %} errors {% endif %} >
                    <label > {{ form.name.label_tag }}</label>
                    {{ form.name.errors }}
                    {% render_field form.name class="form-control border-primary"  name="name" id="id_name"%}
                </div>

                <div class="products_and_grams">
                    <div  id="product" class="form-group" {% if field.errors %} errors {% endif %} >
                        <label > {{ form.product.label_tag }}</label>
                        {{ form.product.errors }}
                        {% render_field form.product class="form-control border-primary"  name="product" id="id_product"%}
                    </div>
                   
                    <div  id="grams" class="form-group " {% if field.errors %} errors {% endif %} >
                        <label > {{ form.grams.label_tag }}</label>
                        {{ form.grams.errors }}
                        {% render_field form.grams class="form-control border-primary"  name="grams" id="id_grams"%}
                    </div>
                </div>

                <button type="submit" name="action" class="button" id="add-product" value="add_products">Dodaj Produkt</button>

                <div  class="selected-products">
                    <h4>Wybrane produkty:</h4>
                    <ul  id="selected-products-list"></ul>
                    
                </div>

            </form>
            <a href="{% url 'home' %}"><button type="submit" id="save-recipe"  class="button" value="save">Zapisz Przepis</button></a>

        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% include 'core/partials/add_new_product.html' with form=add_product_form %}
        </div>
      </div>
    </div>
  </div>

    <script src="{% static 'js/add_recipe.js' %}"></script>
    <script src="{% static 'js/add_product_from_add_recipe_template.js' %}"></script>


    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
          evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; 
      });
    </script>

{% endblock content %}