{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
{% endblock css %}

{% block content %}

{% if messages %}
<div class="d-flex justify-content-center mt-4">
    <div class="alert alert-danger text-center" role="alert" style="min-width: 300px; max-width: 600px;">
        {% for message in messages %}
            <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="section">
  <div class="product-list">
      {% include 'core/partials/product_list.html' %}
  </div>

  <div class="form-container">
      <h3>Dodaj Produkt</h3>
      <form method="post">
          {% csrf_token %}
          {% for field in form %}
              <div class="form-group" id="{{ field.name }}">
                  <label>{{ field.label_tag }}</label>
                  {{ field.errors }}
                  {% render_field field class="form-control border-primary" %}
              </div>
          {% endfor %}
          
          <div class="form-buttons">
              <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
              <button type="submit" name="save" value="save_add_another" class="btn btn-primary">Save and Add Another</button>
          </div>
      </form>
  </div>
</div>
{% endblock content %}
