{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}
    <h1 class="title">Your Recipes</h1>

    <div class="recipes-container">
        {% for recipe in recipes %}
            <a href="{% url 'recipe_detail' recipe.id %}" class="recipe-card">
                <div class="recipe-content">
                    <p class="recipe-name">{{ recipe.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex gap-2">
        <a href="{% url 'account_login' %}" class="btn btn-forest">Login</a>
        <a href="{% url 'account_signup' %}" class="btn btn-outline-forest">Sign Up</a>
      </div>
      
      
    {%endif%}
{% endblock content %}
