{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
{% endblock css %}

{% block content %}
    <h1 class="title">Twoje najnowsze przepisy</h1>

    <div class="recipes-container">
        {% for recipe in recipes %}
            <a href="{% url 'recipe_detail' recipe.id %}" class="recipe-card">
                <div class="recipe-content">
                    <p class="recipe-name">{{ recipe.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
