{% extends "_base.html" %}

{% block title %} Meal Entry Details {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Meal Entry Details</h2>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ meal_entry.meal.recipe.name }}</h4>
            <p class="card-text"><strong>Date:</strong> {{ meal_entry.date }}</p>
            <p class="card-text"><strong>Portions:</strong> {{ meal_entry.portions }}</p>
            <p class="card-text"><strong>Calories per portion:</strong> {{ meal_entry.meal.kcal }}</p>

            <h5 class="mt-3">Total Nutrition in portion</h5>
            <ul class="list-group">
                <li class="list-group-item"><strong>Total Calories:</strong> {{ meal_entry.meal.kcal }} kcal</li>
                <li class="list-group-item"><strong>Total Protein:</strong> {{ meal_entry.meal.protein }} g</li>
                <li class="list-group-item"><strong>Total Fat:</strong> {{ meal_entry.meal.fat }} g</li>
                <li class="list-group-item"><strong>Total Carbs:</strong> {{ meal_entry.meal.carbs }} g</li>
            </ul>

            <h5 class="mt-3">Recipe Ingredients</h5>
            <ul class="list-group">
                {% for product in product_recipe %}
                    <li class="list-group-item">
                        <strong>{{ product.name }}</strong> - 
                        {{ product }} 
                        {{ product.protein }}
                        {{ product.fat }} 
                        {{ product.carbs }}
                    </li>
                {% empty %}
                    <li class="list-group-item">No products found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{% url 'calendar' %}" class="btn btn-primary mt-3">Back to Calendar</a>
</div>
{% endblock %}
