
{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/plan_meal.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="recipe-selection">
        <h3>Choose a Recipe</h3>
        <div class="recipe-list">
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <button class="recipe-btn" data-recipe-id="{{ recipe.id }}">{{ recipe.name }}</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="recipe-details">
        <h3 id="recipe-name">Selected Recipe: <p id="selected-recipe-name"></p></h3>
        
        <div id="recipe-info" style="display: none;">
            <h4>Ingredients</h4>
            <ul id="recipe-ingredients">
                <!-- Składniki będą dynamicznie dodawane tutaj -->
            </ul>

            <h4>Nutritional Information</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Fat</th>
                        <th>Carbs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="recipe-totals">
                        
                    </tr>
                </tbody>
            </table>

            <h4>Portions</h4>
            <label for="portion-input">Number of Portions:</label>
            <input id="portion-input" type="number" id="portion-input" min="1" value="0">
            
            <h4>Nutritional Information</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Fat</th>
                        <th>Carbs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="portion-totals">
                        
                    </tr>
                </tbody>
            </table>

            <h4>Add Extra Ingredient</h4>

            <select id="extra-ingredient">
                <option value="" selected>Choose an ingredient</option>
                {% for product in products %}
                    <option id="extra-product" value="{{ product.id }}" data-kcal="{{ product.kcal }}" 
                            data-protein="{{ product.protein }}" data-fat="{{ product.fat }}" 
                            data-carbs="{{ product.carbs }}">
                        {{ product.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="number" id="extra-grams" placeholder="Grams" min="1" value="100">
            <button id="add-extra">Add</button>

            <h4>Added Ingredients:</h4>
            <ul id="ingredient-list"></ul>
        </div>
    </div>
</div>

<script src="{% static 'js/plan_meal.js' %}"></script>

{% endblock content %}

    