.calendar {
  width: 100%;
  max-width: 900px; /* Zmniejszony maksymalny rozmiar */
  margin: auto;
  font-size: 14px;
}

.calendar td {
  width: 120px; /* Mniejsze komórki */
  height: 120px;
  vertical-align: top;
  text-align: center;
  border: 1px solid #ddd;
  padding: 5px;
  background: #f9f9f9;
}

.current-day {
  background: #ffeb3b !important; /* Podświetlenie dzisiejszej daty */
}

.date-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-meal-btn {
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}


.delete-button{
  background: red;
  color: white;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  font-size: 8px;
}

.nutrition-table {
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.nutrition-table th, .nutrition-table td {
  border: 1px solid #ddd;
  padding: 3px;
  height: 10px;
}

.meal-list {
  list-style: none;
  padding: 0;
  font-size: 12px;
  text-align: left;
}

.meal-list li{
  display: flex;
  justify-content: space-between;
}

.table-data{
  height: 10px;
}