
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 640px;
}



h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #27352A;
}

.recipe-name-edit-button,
.product-grams-edit-button,
.delete-button{
    border: none;
    background-color: white;
}

#recipe-product-list{
    width: 100%;
}

.table {
    margin-bottom: 30px;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table_data{
    display: flex;
    justify-content: space-around;
}

.grams-input{
    width: 65px;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
}

.btn-back a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.btn-back a:hover {
    background-color: #0056b3;
}