.table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    font-size: 14px;
}

.table th {
    background: #334b39;
    color: white;
    text-align: center;
    padding: 8px;
}

.table td {
    text-align: center;
    padding: 6px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-bordered {
    border: 1px solid #ddd;
}
